In [1]:
import pandas as pd #import libraries
import numpy as np

In [2]:
station_df=pd.read_csv(r'location_station.csv',sep=';') #load dataset
lat_lon_station_df=pd.read_csv(r'lat_lon_station.csv',sep=';')

In [3]:
lat_lon_station_df

    Station  Latitude  Longitude Altitude (m)
0      AAFM   -8,2734    124,723          830
1       AAI   -3,6871   128,1943        157,2
2      AAII   -3,6871    128,194          160
3      ABJI   -7,7957   114,2342       144,36
4      ABSM   -3,4254  102,26295          380
..      ...       ...        ...          ...
433   WSTMM  -3,45296    129,995           86
434   WUPCM   -3,0063   120,1927           94
435    WWCI   -5,2724   123,5251           26
436    WWPI    -2,313   136,3773           16
437    YOGI   -7,8166    110,295          176

[438 rows x 4 columns]

In [4]:
station_df

    Station          Province               Location
0      AAFM               NTT       AlorSelatan,Alor
1       AAI            Maluku           Ambon,Maluku
2      AAII            Maluku           Ambon,Maluku
3      ABJI         JawaTimur    AsemBagus,Situbondo
4      ABSM          Bengkulu    Argamakmur,Bengkulu
..      ...               ...                    ...
407   WUPCM   SulawesiSelatan             Wara-Utara
408    WWCI  SulawesiTenggara   Wangi-wangi,Wakatobi
409    WWPI             Papua  Waropen-Bawah,Waropen
410    YOGI        Yogyakarta         Stageof-Sleman
411    KAPI   SulawesiSelatan                Kappang

[412 rows x 3 columns]

In [5]:
merge_station_df=pd.merge(station_df,lat_lon_station_df,on='Station',how='inner') #join 2 dataset into 1

In [6]:
merge_station_df

,Station,Province,Location,Latitude,Longitude,Altitude (m)
0,AAFM,NTT,"AlorSelatan,Alor","-8,2734","124,723",830
1,AAI,Maluku,"Ambon,Maluku","-3,6871","128,1943","157,2"
2,AAII,Maluku,"Ambon,Maluku","-3,6871","128,194",160
3,ABJI,JawaTimur,"AsemBagus,Situbondo","-7,7957","114,2342","144,36"
4,ABSM,Bengkulu,"Argamakmur,Bengkulu","-3,4254","102,26295",380
...,...,...,...,...,...,...
388,WSTMM,Maluku,Werinama,"-3,45296","129,995",86
389,WUPCM,SulawesiSelatan,Wara-Utara,"-3,0063","120,1927",94
390,WWCI,SulawesiTenggara,"Wangi-wangi,Wakatobi","-5,2724","123,5251",26
391,WWPI,Papua,"Waropen-Bawah,Waropen","-2,313","136,3773",16
392,YOGI,Yogyakarta,Stageof-Sleman,"-7,8166","110,295",176

In [7]:
filter_station = merge_station_df[merge_station_df['Province'].isin(['JawaBarat', 'Banten', 'JawaTengah','JawaTimur'])]  #filter dataset

In [8]:
filter_station=filter_station.sort_values(by='Province').reset_index(drop=True) #sorting dataset

In [20]:
#merge_station_df =merge_station_df.drop(columns=['Altitude (m)']) #drop irrelevant column

In [9]:
filter_station["Latitude"]=filter_station["Latitude"].str.replace(',','.') #change the characters
filter_station["Longitude"]=filter_station["Longitude"].str.replace(',','.')

In [10]:
filter_station["Latitude"]=filter_station["Latitude"].astype(float) #change datatype
filter_station["Longitude"]=filter_station["Longitude"].astype(float)

In [11]:
filter_station.sort_values(by='Province') #show the dataframes

,Station,Province,Location,Latitude,Longitude,Altitude (m)
0,SADLY,Banten,Gunung-Kencana,-6.573700,106.074130,295
1,PTJI,Banten,"Pondok-Aren,TangerangSelatan",-6.265517,106.748825,76
2,CGJI,Banten,"Cigeulis,Pandeglang",-6.613400,105.690000,182
3,WLJI,Banten,"Wonosalam,Lebak",-6.831098,105.890947,46
4,TNGI,Banten,Tangerang,-6.172000,106.647000,40
...,...,...,...,...,...,...
59,SNJI,JawaTimur,Sawahan,-7.780800,111.759100,1341
58,TUJI,JawaTimur,"Tumpakrejo,Jember",-8.401800,113.732200,79
85,JAGI,JawaTimur,Jajag,-8.470300,114.152000,171
71,BWJI,JawaTimur,"Bawean,Gresik",-5.851100,112.657800,"57,56"
86,KLJI,JawaTimur,"Klakah,Lumajang",-7.996070,113.251750,240

In [12]:
min_longitude = 110.5
max_longitude = 113.5
filter_station = filter_station[(filter_station['Longitude'] >= min_longitude) & (filter_station['Longitude'] <= max_longitude)].reset_index(drop=True)

In [14]:
filter_station

,Station,Province,Location,Latitude,Longitude,Altitude (m)
0,BOJI,JawaTengah,"Sawit,Boyolali",-7.568150,110.689360,196
1,WOJI,JawaTengah,Wonogiri,-7.837200,110.923600,"183,62"
2,PRJI,JawaTengah,"Pracimantoro,Wonogiri",-8.072160,110.791780,337
3,BMBNG,JawaTengah,"Ternadi,Dawe,Kudus",-6.663470,110.883900,1029
4,UWJI,JawaTengah,Ujung-Watu,-6.419100,110.947400,"61,52"
5,KBJM,JawaTengah,"Kunduran,Blora",-7.050500,111.232900,62
6,JWJM,JawaTengah,"Juwangi,Boyolali",-7.206245,110.731458,74
7,GGJM,JawaTengah,"Gabus,Grobogan",-7.171700,111.203700,81
8,JBJM,JawaTengah,"Jepon,Blora",-6.972900,111.458700,98
9,GUJM,JawaTengah,"Gubug,Grobogan",-7.171550,111.203420,85
10,SNJI,JawaTimur,Sawahan,-7.780800,111.759100,1341
11,WGJM,JawaTimur,"Wringianom,Gresik",-7.383300,112.509800,35
12,SEJI,JawaTimur,"Senori,Tuban",-7.005100,111.728800,120
13,SIJM,JawaTimur,"Sidoarjo,Sidoarjo",-7.410110,112.760504,24
14,SWJI,JawaTimur,Sawahan,-7.734900,111.766900,"723,33"
15,TBJI,JawaTimur,Tambak-Boyo,-6.817900,111.848100,"54,45"
16,PLJI,JawaTimur,"Plosoklaten,Kediri",-7.861600,112.154800,"232,9"
17,BAJI,JawaTimur,"Socah,Bangkalan",-7.090570,112.708530,76
18,BBJM,JawaTimur,"Bubulan,Bojonegoro",-7.326000,111.809900,175
19,BPMJM,JawaTimur,"Batumarmar,Pamekasan",-6.950523,113.492238,"270,5"
20,BWJI,JawaTimur,"Bawean,Gresik",-5.851100,112.657800,"57,56"
21,GEJI,JawaTimur,"Gedangan,Malang",-8.410190,112.645070,80
22,GMJI,JawaTimur,Gumukmas,-8.273200,113.444100,"80,13"
23,PWJI,JawaTimur,Pagerwojo,-8.021887,111.804112,205
24,GRJI,JawaTimur,Gresik,-6.914500,112.479300,"97,14"
25,KPJM,JawaTimur,"Kapas,Bojonegoro",-7.188300,111.928100,23
26,LUJI,JawaTimur,"Lumbang,Pasuruan",-7.826000,113.010700,665
27,MLJI,JawaTimur,Malang,-8.157473,112.446699,275
28,MLJM,JawaTimur,"Mantup,Lamongan",-7.248300,112.337900,55
29,NGJI,JawaTimur,Ngawi,-7.367600,111.461200,149
30,PCJI,JawaTimur,Pacitan,-8.194700,111.177100,"702,27"
31,KLJI,JawaTimur,"Klakah,Lumajang",-7.996070,113.251750,240

In [47]:
#stat_lat_lon=merge_station_df[merge_station_df['Longitude'] < 121].reset_index(drop=True) #filter dataframe and create new dataframe

In [15]:
fixed_station_df =filter_station.drop(columns=[ 'Province', 'Location']) #fixed dataframe

### No Altitude

In [16]:
fixed_station_df_no_altitude=fixed_station_df.drop(columns= ['Altitude (m)'])
fixed_station_df_no_altitude

   Station  Latitude   Longitude
0     BOJI -7.568150  110.689360
1     WOJI -7.837200  110.923600
2     PRJI -8.072160  110.791780
3    BMBNG -6.663470  110.883900
4     UWJI -6.419100  110.947400
5     KBJM -7.050500  111.232900
6     JWJM -7.206245  110.731458
7     GGJM -7.171700  111.203700
8     JBJM -6.972900  111.458700
9     GUJM -7.171550  111.203420
10    SNJI -7.780800  111.759100
11    WGJM -7.383300  112.509800
12    SEJI -7.005100  111.728800
13    SIJM -7.410110  112.760504
14    SWJI -7.734900  111.766900
15    TBJI -6.817900  111.848100
16    PLJI -7.861600  112.154800
17    BAJI -7.090570  112.708530
18    BBJM -7.326000  111.809900
19   BPMJM -6.950523  113.492238
20    BWJI -5.851100  112.657800
21    GEJI -8.410190  112.645070
22    GMJI -8.273200  113.444100
23    PWJI -8.021887  111.804112
24    GRJI -6.914500  112.479300
25    KPJM -7.188300  111.928100
26    LUJI -7.826000  113.010700
27    MLJI -8.157473  112.446699
28    MLJM -7.248300  112.337900
29    NGJI -7.367600  111.461200
30    PCJI -8.194700  111.177100
31    KLJI -7.996070  113.251750

### Altitude

In [17]:
fixed_station_df

   Station  Latitude   Longitude Altitude (m)
0     BOJI -7.568150  110.689360          196
1     WOJI -7.837200  110.923600       183,62
2     PRJI -8.072160  110.791780          337
3    BMBNG -6.663470  110.883900         1029
4     UWJI -6.419100  110.947400        61,52
5     KBJM -7.050500  111.232900           62
6     JWJM -7.206245  110.731458           74
7     GGJM -7.171700  111.203700           81
8     JBJM -6.972900  111.458700           98
9     GUJM -7.171550  111.203420           85
10    SNJI -7.780800  111.759100         1341
11    WGJM -7.383300  112.509800           35
12    SEJI -7.005100  111.728800          120
13    SIJM -7.410110  112.760504           24
14    SWJI -7.734900  111.766900       723,33
15    TBJI -6.817900  111.848100        54,45
16    PLJI -7.861600  112.154800        232,9
17    BAJI -7.090570  112.708530           76
18    BBJM -7.326000  111.809900          175
19   BPMJM -6.950523  113.492238        270,5
20    BWJI -5.851100  112.657800        57,56
21    GEJI -8.410190  112.645070           80
22    GMJI -8.273200  113.444100        80,13
23    PWJI -8.021887  111.804112          205
24    GRJI -6.914500  112.479300        97,14
25    KPJM -7.188300  111.928100           23
26    LUJI -7.826000  113.010700          665
27    MLJI -8.157473  112.446699          275
28    MLJM -7.248300  112.337900           55
29    NGJI -7.367600  111.461200          149
30    PCJI -8.194700  111.177100       702,27
31    KLJI -7.996070  113.251750          240

In [18]:
#Buat nama-nama stasiunnya aja
fixed_station_df['Station'].to_csv('filter_station.txt', sep='\t',index=False, header=None)

In [19]:
#Buat stasiun sama altitudenya
fixed_station_df.to_csv('station_altitude.dat', sep='\t',index=False, header=None)

In [20]:
#Buat stasiun tanpa altitudenya
fixed_station_df_no_altitude.to_csv('station.dat', sep='\t', index=False, header=None)

In [21]:
coordinate_station = fixed_station_df_no_altitude.drop(columns='Station')
coordinate_station_reindex = coordinate_station.reindex(columns=['Longitude','Latitude'])
coordinate_station_reindex

     Longitude  Latitude
0   110.689360 -7.568150
1   110.923600 -7.837200
2   110.791780 -8.072160
3   110.883900 -6.663470
4   110.947400 -6.419100
5   111.232900 -7.050500
6   110.731458 -7.206245
7   111.203700 -7.171700
8   111.458700 -6.972900
9   111.203420 -7.171550
10  111.759100 -7.780800
11  112.509800 -7.383300
12  111.728800 -7.005100
13  112.760504 -7.410110
14  111.766900 -7.734900
15  111.848100 -6.817900
16  112.154800 -7.861600
17  112.708530 -7.090570
18  111.809900 -7.326000
19  113.492238 -6.950523
20  112.657800 -5.851100
21  112.645070 -8.410190
22  113.444100 -8.273200
23  111.804112 -8.021887
24  112.479300 -6.914500
25  111.928100 -7.188300
26  113.010700 -7.826000
27  112.446699 -8.157473
28  112.337900 -7.248300
29  111.461200 -7.367600
30  111.177100 -8.194700
31  113.251750 -7.996070

In [22]:
#mau jadiin csv
coordinate_station_reindex.to_csv('coordinate_station.txt', header=None, index=False, sep='\t')